/* Manual color scheme */

:root {
  /* Neutral = dark-blue ramp */
  --color-neutral:       255, 255, 255;
  --color-neutral-50:    235, 243, 255;
  --color-neutral-100:   205, 223, 255;
  --color-neutral-200:   170, 203, 255;
  --color-neutral-300:   130, 178, 255;
  --color-neutral-400:    90, 148, 245;
  --color-neutral-500:    50, 118, 225;
  --color-neutral-600:    40,  94, 185;
  --color-neutral-700:    30,  70, 140;
  --color-neutral-800:    20,  50, 100;
  --color-neutral-900:    10,  30,  60;


  /* Primary = blue ramp */
  --color-primary-50:    239, 246, 255;
  --color-primary-100:   219, 234, 254;
  --color-primary-200:   191, 219, 254;
  --color-primary-300:   147, 197, 253;
  --color-primary-400:    96, 165, 250;
  --color-primary-500:    59, 130, 246;
  --color-primary-600:    37,  99, 235;
  --color-primary-700:    29,  78, 216;
  --color-primary-800:    30,  64, 175;
  --color-primary-900:    30,  58, 138;

  /* Secondary = cyan ramp */
  --color-secondary-50:  236, 254, 255;
  --color-secondary-100: 207, 250, 254;
  --color-secondary-200: 165, 243, 252;
  --color-secondary-300: 103, 232, 249;
  --color-secondary-400:  34, 211, 238;
  --color-secondary-500:   6, 182, 212;
  --color-secondary-600:   8, 145, 178;
  --color-secondary-700:  14, 116, 144;
  --color-secondary-800:  21,  94, 117;
  --color-secondary-900:  22,  78,  99;

}

footer,
  footer * {
    color: #000000 !important;
    fill:  #000000 !important;
    stroke: #000000 !important;
    background-color: transparent !important;
  }


.dark {
  footer,
  footer * {
    color: #ffffff !important;
    fill:  #ffffff !important;
    stroke: #ffffff !important;
    background-color: transparent !important;
  }
}